---
    // Export a "Props" interface to .
    export interface Props {
        text: string,
        target: string
    }
    const { text, target } = Astro.props;
---

<a href={target} class="mx-4 btn">
    {text}
</a>