---
    // Export a "Props" interface to .
    export interface Props {
        text: string,
        target: string
    }
    const { text, target } = Astro.props;
---

<a href={target} class="block mx-4 my-4 lg:inline-block btn">
    {text}
</a>